//B&W Variables
$asphalt: #212121;
$choal: #333333;
$charcoal: #555555;
$grey: #999999;
$lightGrey: #dddddd;
$vapor: #eeeeee;
$clouds: #f1f1f1;

//Color Variables
$main: #cc181e;
$secundary: #167ac6;

$sm : 481px;
$md : 768px;
$max-width : 768px;
